//
// hobbyのスタイル
//


.hobby-main {
    text-align: center;
}

.hobby-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 769px)  { 
        width: 70%;
    } 
}

.hobby-icon {
    border: 2px solid $black;
    width: 250px;
    height: 178px;
    @media (min-width: 769px)  {
        width: 450px;
        height: 303px;
    }  
}

.hobby-box {
    margin-top: 55px;
    @media (min-width: 769px)  { 
        margin-top: 127px;
    }  
}



.hobby-box, .hobby-box3 {
    text-align: center;
    @media (min-width: 769px)  { 
        display: flex;
        
    }  
}

.hobby-box2 {
    margin-top: 60px;
    @media (min-width: 769px)  { 
        display: flex;
        flex-direction: row-reverse;
        
        margin-top: 81px;
    } 
}

.hobby-box3 {
    margin-top: 60px;
    @media (min-width: 769px)  { 
        margin-top: 81px;
    } 
}


.hobby-box img:hover {
    opacity: 0.5;
}

.hobby-box2 img:hover {
    opacity: 0.5;
}

.hobby-box3 img:hover {
    opacity: 0.5;
}

.hobby-box h2 {
    font-family: "Yusei Magic";
    font-size: 24px;
    font-size: 2.4rem;
    width: 100%;
    margin-top: 38px;
    text-align: center;
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 100%;
    }  
}

.hobby-box2 h2 {
    font-family: "Yusei Magic";
    font-size: 24px;
    font-size: 2.4rem;
    width: 100%;
    margin-top: 38px;
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 100%;
    }  
}

.hobby-box3 h2 {
    font-family: "Yusei Magic";
    font-size: 24px;
    font-size: 2.4rem;
    width: 100%;
    margin-top: 38px;
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 100%;
    }  
}

.hobby-text, .hobby-text2,.hobby-text3   {
    font-family: "Yusei Magic";
    font-size: 20px;
    font-size: 2.0rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 769px)  { 
        font-size: 24px;
        font-size: 2.4rem;
        width: 90%;
    }  
}

.hobby-text p, .hobby-text2 p,.hobby-text3  p {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    @media (min-width: 769px)  { 
        width: 70%;
    }
} 


.hobby-text,.hobby-text3 {
    @media (min-width: 769px)  { 
        margin-left: 155px;
        text-align: left;
    } 
}

.hobby-text2 {
    @media (min-width: 769px)  { 
        /*margin-right: 210px;*/
        text-align: left;
    } 
}


.hobby-text h2 {
    
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 500px;
        text-align: left;
    }  
}

.hobby-text2 h2 {
    
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 500px;
    }  
}

.hobby-text3 h2 {
    
    @media (min-width: 769px)  { 
        margin-top: 0;
        font-size: 30px;
        font-size: 3.0rem;
        width: 500px;
    }  
}

.hobby-h2 {
   @media (min-width: 769px)  {
       display: none;
   }
}

.hobby-h2-2 {
   display: none;
   @media (min-width: 769px)  {
       display: block;
   }
}

/*コメント*/

.hobby-top {
    font-family: "Yusei Magic";
    text-align: left;
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 40px;
    width: 100%;
    @media (min-width: 769px)  {
        margin-top: 137px;
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 50px;
        width: 100%;
    } 
}

.hobby-top span {
    font-size: 40px;
    font-size: 4.0rem;
    @media (min-width: 769px)  {
    font-size: 48px;
    font-size: 4.8rem;
    }
}